<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
   
   

    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= D202510619420000029%></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= "VISHWANATH MANZI" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "02-01-2025" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "VIRHNIYA DEVI" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "FEKU MANZI" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "HARIBELA, WARD 16, HARIBELA, HARRI, BATHNAHA, SITAMARHI, BIHAR,843317/हरिबेला, वार्ड 16, हरिबेला ,HARRI , BATHNAHA,SITAMARHI,BIHAR,843317" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "11-01-2025" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "Bathnaha Gramin" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "61942" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
